body{
    background: rgb(13,12,58);
    color: white;
}
nav{
    display: flex;
    justify-content: space-between;
    color: black;
    background-color: white;
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li{
    margin: 0 40px;
}
.about{
    display: flex;
}
.description{
    font-size: 23px;
    padding: 130px 0;
}
#givetry{
    font-weight: bolder;
    text-align: center;
    font-size: 30px;
}
.form{
   
    margin: 0 60px;
}
.form input{
    height: 30px;
}
.form select{
    height: 30px;
    width: 180px;
}
.form button{
    background-color: green;
    color: white;
    height: 40px;
    width: 130px;
    margin: 30px;
    border: none;
    font-size: large;
}
/* commit from here */
#results{
    display: none;
    background:linear-gradient( rgba(0,0,0,0.5),rgba(0,0,0,0.5) ),url(../images/pattern.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding: 30px;
    margin: 30px;
    font-size: 60px;
    font-weight: 200px;
}